@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rajdhani:wght@300;400;500;600;700&display=swap');

$imperial-red: #e63946;
$honeydew: #f1faee;
$powder-blue: #a8dadc;
$primary-blue: #457b9d;
$secondary-blue: #1d3557;

$white: #fefefe;
$dark: #262626;
$green: #28a745;
$gray: #c7c7c7;
$light-gray: #e7e7e7;
$danger: #ff3333;

$shadow-bottom-left: -8px 8px 6px rgba(0, 0, 0, 0.35);
$shadow-bottom: 0 20px 30px -20px rgba(0, 0, 0, 0.8);

$font-main: 'Rajdhani', sans-serif;
$font-titles: 'Bangers', Cursive;

$breakpoint-xs: 325px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
