<div id="adminViewSchoolPage">
	<div class="schoolInfoContainer">
		<div class="schoolLogo">
			<img src="{{ school.logo }}" alt="{{ school.name }}_Logo" />
		</div>

		<div class="schoolInfo">
			<div class="Name">{{ school.name }}</div>
			<div class="ShortName">({{ school.shortName }})</div>
			<div class="RegNumber">Reg. Number: {{ school.registrationNumber }}</div>
			<div class="Address">
				{{ school.address.state }}, <br />
				{{ getCountryName(school.address.country) }}
			</div>
		</div>
		<div class="contactInfo">
			<div class="phoneNumber">
				{{ getFullPhoneNumber(school.address.country, school.phoneNumber) }}
			</div>
			<div class="email">
				{{ school.email }}
			</div>
			<div class="website">
				{{ school.website }}
			</div>
		</div>
	</div>

	<div class="adminsContainer">
		<div class="title">School Admins</div>

		<div class="cardsContainer">
			<div *ngFor="let admin of schoolAdmins" class="adminCard">
				{{ admin.firstName }} {{ admin.lastName }} <br />
				username: <strong>{{ admin.username }}</strong>
			</div>
		</div>

		<button (click)="openModal()" class="addSchoolAdmin">
			<img src="./assets/img/navIcons/sysAdmins.svg" class="schoolIcon" onload="SVGInject(this)" />
			<i class="fas fa-plus"></i>
		</button>
	</div>

	<ng-template #newSchoolAdminModal>
		<div class="modal w-30 h-50">
			<div class="header">
				<div class="title">Create School Admin</div>
				<button type="button" (click)="closeModal()" class="close">
					<i class="fas fa-close"></i>
				</button>
			</div>
			<div class="body">
				<form autocomplete="off" (ngSubmit)="onSubmit(newSchoolAdminForm)" #newSchoolAdminForm="ngForm">
					<div class="form-fields">
						<div class="form-row">
							<div class="input-group">
								<input
									name="firstName"
									type="text"
									[(ngModel)]="newSchoolAdmin.firstName"
									#newSchoolAdminFirstName="ngModel"
									required
									minlength="3"
									[ngClass]="{
										'is-invalid': newSchoolAdminFirstName.errors && newSchoolAdminFirstName.touched
									}"
								/>
								<label>First Name</label>
								<div
									*ngIf="
										newSchoolAdminFirstName.invalid &&
										(newSchoolAdminFirstName.dirty || newSchoolAdminFirstName.touched)
									"
									class="error-alerts"
								>
									<div *ngIf="newSchoolAdminFirstName.errors?.['required']">this is required!</div>
									<div *ngIf="newSchoolAdminFirstName.errors?.['minlength']">too short!</div>
								</div>
							</div>
							<div class="input-group">
								<input
									name="lastName"
									type="text"
									[(ngModel)]="newSchoolAdmin.lastName"
									#newSchoolAdminLastName="ngModel"
									required
									minlength="3"
									[ngClass]="{
										'is-invalid': newSchoolAdminLastName.errors && newSchoolAdminLastName.touched
									}"
								/>
								<label>Last Name</label>
								<div
									*ngIf="
										newSchoolAdminLastName.invalid &&
										(newSchoolAdminLastName.dirty || newSchoolAdminLastName.touched)
									"
									class="error-alerts"
								>
									<div *ngIf="newSchoolAdminLastName.errors?.['required']">this is required!</div>
									<div *ngIf="newSchoolAdminLastName.errors?.['minlength']">too short!</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="input-group">
								<input
									name="username"
									autocomplete="no"
									type="text"
									[(ngModel)]="newSchoolAdmin.username"
									#newSchoolAdminUsername="ngModel"
									required
									minlength="3"
									[ngClass]="{
										'is-invalid': newSchoolAdminUsername.errors && newSchoolAdminUsername.touched
									}"
								/>
								<label>Username</label>
								<div
									*ngIf="
										newSchoolAdminUsername.invalid &&
										(newSchoolAdminUsername.dirty || newSchoolAdminUsername.touched)
									"
									class="error-alerts"
								>
									<div *ngIf="newSchoolAdminUsername.errors?.['required']">this is required!</div>
									<div *ngIf="newSchoolAdminUsername.errors?.['minlength']">too short!</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="input-group">
								<input
									name="email"
									type="email"
									[(ngModel)]="newSchoolAdmin.email"
									#newSchoolAdminEmail="ngModel"
									required
									pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
									[ngClass]="{
										'is-invalid': newSchoolAdminEmail.errors && newSchoolAdminEmail.touched
									}"
								/>
								<label>Email</label>
								<div
									*ngIf="
										newSchoolAdminEmail.invalid &&
										(newSchoolAdminEmail.dirty || newSchoolAdminEmail.touched)
									"
									class="error-alerts"
								>
									<div *ngIf="newSchoolAdminEmail.errors?.['required']">this is required!</div>
									<div *ngIf="newSchoolAdminEmail.errors?.['pattern']">not valid email</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="input-group">
								<input
									name="password"
									autocomplete="new-password"
									type="password"
									[(ngModel)]="newSchoolAdmin.password"
									#newSchoolAdminPassword="ngModel"
									required
									minlength="8"
									[ngClass]="{
										'is-invalid': newSchoolAdminPassword.errors && newSchoolAdminPassword.touched
									}"
								/>
								<label>Password</label>
								<div
									*ngIf="
										newSchoolAdminPassword.invalid &&
										(newSchoolAdminPassword.dirty || newSchoolAdminPassword.touched)
									"
									class="error-alerts"
								>
									<div *ngIf="newSchoolAdminPassword.errors?.['required']">this is required!</div>
									<div *ngIf="newSchoolAdminPassword.errors?.['minlength']">too short!</div>
								</div>
							</div>
							<div class="input-group">
								<input
									name="confirmPassword"
									type="password"
									[(ngModel)]="newSchoolAdmin.confirmPassword"
									#newSchoolAdminConfirmPassword="ngModel"
									required
									[ngClass]="{
										'is-invalid':
											newSchoolAdminConfirmPassword.touched &&
											newSchoolAdminConfirmPassword.value !== newSchoolAdminPassword.value
									}"
								/>
								<label>Confirm Password</label>
								<div
									*ngIf="
										newSchoolAdminConfirmPassword.value !== newSchoolAdminPassword.value &&
										(newSchoolAdminConfirmPassword.dirty || newSchoolAdminConfirmPassword.touched)
									"
									class="error-alerts"
								>
									<div *ngIf="newSchoolAdminConfirmPassword.errors?.['required']">this is required!</div>
									<div *ngIf="newSchoolAdminConfirmPassword.value !== newSchoolAdminPassword.value">
										must match!
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" [disabled]="!newSchoolAdminForm.form.valid" class="formButton">
						Create Admin
					</button>
				</form>
			</div>
		</div>
	</ng-template>

	<button class="backButton" routerLink="../../../manage-schools">
		<i class="fas fa-arrow-left"></i>
	</button>
</div>
