@import 'apps/shule-point-web-portal/src/config';
@import 'apps/shule-point-web-portal/src/utilities';

.noRecords {
	margin-top: 20cqh;
	width: 100cqw;
	font-size: 2.5cqw;
	font-weight: 500;
	text-align: center;
}

.class-chart {
	width: 60cqw;
	flex-flow: column;

	.teachers {
		display: flex;

		.classTeacher {
			margin-left: 4cqw;

			svg {
				width: 8.5cqw;
				height: auto;
				fill: $primary-blue;
			}
		}
	}

	.students {
		height: 55cqh;
		display: flex;
		flex-flow: row wrap;
		padding: 1cqh 1cqw;
		overflow: hidden;
		overflow-y: auto;
		align-content: flex-start;
		row-gap: 1.25cqh;

		.student {
			display: flex;
			justify-content: center;
			cursor: pointer;
			padding: 0.75cqh;
			width: 7.125cqw;
			transition: all ease-in-out 0.25s;
			transition: transform ease-in-out 0.125s;

			svg {
				width: 6cqw;
				height: auto;
				fill: $primary-blue;
			}

			&.empty {
				svg {
					fill: $gray;
				}

				.seatNumber {
					color: $gray;
				}

				.tooltip {
					background-color: $gray;
					color: $secondary-blue;
				}

				.tooltip::after {
					border-color: transparent transparent $gray transparent;
				}
			}

			&:nth-child(2n + 1) {
				margin-left: 3cqw;
			}

			.seatNumber {
				position: absolute;
				top: 1cqh;
				right: 1.5cqw;
				font-size: 2cqh;

				font-weight: 700;
				color: $secondary-blue;
			}

			&:hover {
				background-color: rgba($color: $powder-blue, $alpha: 0.45);
				box-shadow: -4px 4px 10px rgba($color: $dark, $alpha: 0.35);
				border-radius: 1cqh;

				.tooltip {
					opacity: 1;
					visibility: visible;
				}
			}

			&:active {
				transform: scale(0.98);
			}

			.tooltip {
				background-color: $primary-blue;
				border-radius: 5px;
				bottom: -45%;
				color: $white;
				left: 50%;
				margin-left: -65%;
				opacity: 0;
				padding: 0.5cqh 0.25cqw;
				position: absolute;
				text-align: center;
				transition: opacity 0.5s;
				visibility: hidden;
				width: 10cqw;
				z-index: 1;
			}

			.tooltip::after {
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent $primary-blue transparent;
				content: '';
				left: 50%;
				margin-left: -5px;
				position: absolute;
				top: -21.225%;
			}
		}
	}
}
